*
{
    transition: all 0.15s;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.antiButton
{
    opacity: 0;
}

.antiButton
{
    cursor: default;
}

h1
{
    font-size: 40px;
    color: white;
}

h2
{
    color: white;
    margin: 0.5em;
}

h3
{
    color: white;
    margin: 0.5em;
    text-align: center;
}

a
{
    color: cyan;
}

p
{
    color: white;
    margin: 0.5em;
}

#musicContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.audioCard
{
    width: 75%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: black;
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
}

.imageContainer
{
    position: relative;
}

.coverArt
{
    width: 100%;
    border-radius: 1em;
}

.coverArt:hover
{
    cursor: pointer;
}

.controls
{
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1em;
}

.controls button
{
    padding: 1em 2em;
    margin: 0 4px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.timebarContainer
{
    margin-top: 1em;
    width: 100%;
    height: 1em;
    background-color: #ffffff33;
    border-radius: 3px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.timebarProgress
{
    height: 100%;
    width: 0%;
    background-color: white;
    display: inline-block;
}

.timebarGap
{
    height: 100%;
    width: 0%;
    display: inline-block;
}

.mainTime:hover
{
    cursor: pointer;
    transform: scale(1, 1.5);
}

.mainTime > .timebarProgress
{
    transition: none;
}

.motifTime:has(.timebarProgress:hover)
{
    cursor: pointer;
    transform: scale(1, 1.5);
}

.timeLabels
{
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#motifList
{
    width: 50%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.motifMainDiv
{
    border: white 8px solid;
    display: flex;
    flex-direction: row;
    opacity: 50%;
    height: 20em;
}

.motifMainDiv.playing
{
    opacity: 100%;
}

.motifMainDiv > div:first-child
{
    padding: 3em;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.motifMainDiv > div:first-child > img
{
    height: 100%;
    width: auto;
}

.motifMainDiv > div:last-child
{
    display: grid;
    grid-template-rows: repeat(1fr);
    height: 100%;
    width: 7em;
}

.motifMainDiv > div:last-child:not(:has(> div))
{
    display: none;
}

.motifMainDiv > div:last-child > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: solid white 8px;
    border-right: none;
    height: 100%;
    width: 100%;
}

.motifMainDiv > div:last-child > div > *
{
    padding: 0;
    margin: 0;
}

.motifMainDiv.playing > div:last-child > div
{
    opacity: 50%;
}

.motifMainDiv.playing > div:last-child > div.playing
{
    opacity: 100%;
}

.motifMainDiv > div:last-child > div:first-child
{
    border-top: none;
}

.motifMainDiv > div:last-child > div:last-child
{
    border-bottom: none;
}

.variationDiv
{
    display: none;
}

.variationDiv.playing
{
    display: inline;
}

.bigLink
{
    border: 2px solid cyan;
    padding: 1em;
    border-radius: 0.5em;
    margin: 0.5em;
}

.bigLink:hover
{
    scale: 1.05;
}

#songsDiv, #motifsDiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gone
{
    display: none !important;
}
